$txt_white: white;
$primary: #FC6736;
$danger: #db004d;

.container-image {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh; 
  flex-direction: column;
}

:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: url('/img/bg.mp4');
  background-size: cover;
  background-repeat: no-repeat;
}


#myVideo {
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

#app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent; 
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.25s ease;
}
button:hover {
  color: #ddd;
  transform: translateY(-5px);
}


.vertical-menu {
  list-style-type: none;
  padding: 0;
}

.vertical-menu li {
  margin: 1em 0;
}

.vertical-menu button {
  padding: 1em 2em;
  font-size: 1.5em; 
  letter-spacing: 1px;
  color: #fff;
}
.vertical-menu button:hover {
  opacity: 0.8;
}

.hide {
  display: none;
}

.btn-menu {
  transition: all 0.3s ease;
  position: relative;
}

.btn-menu::before {
  content: none;
}

.btn-menu:hover, .btn-menu:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
button:focus {
  outline: none;
  box-shadow: none;
}

/* Couleur primaire pour l'action principale, souvent utilisée pour le bouton 'Jouer' */
.btn-primary {
  background-color: $primary; /* Vert vif pour une bonne visibilité */
  color: $txt_white;
}

.btn-primary:hover {
  background-color: $primary;
}

/* Couleur secondaire pour des actions moins importantes comme 'Options' */
.btn-secondary {
  background-color: #0C2D57; /* Bleu qui contraste bien avec le vert et le fond sombre */
  color: $txt_white;
}

.btn-secondary:hover {
  background-color: #0C2D56;
}

/* Couleur pour les informations secondaires comme 'Crédits' */
.btn-info {
  background-color: #EFECEC; 
  color: black !important;
}

.btn-danger {
  background-color: $danger; /* Vert vif pour une bonne visibilité */
  color: $txt_white;
}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

/*couleur du titre dans les swal*/
.title-class{
  color: $txt_white !important;
}

.txt_white {
  color : $txt_white !important;
}
